<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="foodapp.com.foodapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FoodApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".dashboard.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".foods.ui.FoodListActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".details.FoodDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".details.DishDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>